@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

/* common style */
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}
.container{
    max-width: 1200px;
    margin: 0 auto; 
    
}
/* navber style start here */
.navber-container{ 
    display: flex;
    justify-content: space-between;
    background-color: #212529;
    height: 70px;
    align-items: center;  
}
.logo i{
    font-size: 18px;
    color: #DC3545;
    margin-left: 100px;
}
.logo{
    font-size: 18px;
    color: #fff;
}
.nav-item a{
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
    color: gray;
    gap: 0;  
}
.tag1 a{
    color: #fff;
}
.tag2 a{
    margin-right: 100px;
}


/* banner style start here */

.banner{
    width: 1100px;
    display: flex;
    margin: 60px auto;
    align-items: center;
    
}
.banner-title{
    font-size: 45px;
    color: #333333;
}
.banner-para{
    font-size: 18px;
    line-height: 25px;
    color: #6C757D;
}
.btn{
    font-size: 20px;
    border:solid red;
    padding: 10px 30px;
    background-color: #fff;
    transition: 0.1s linear;
    
}
.btn:hover{
    background-color: #6C757D;
    
}

.banner-img img{
    width: 500px;
    height: 450px; 
}


/* spacial style start here */

.special-title{
    text-align: center;
    margin-top: 100px;
    font-size: 28px;
    font-weight: 700;
}
.special-title span{
    color: #7F757D;
}
.special-title small{
color: #DC3545;
}


.special-item{
    width: 25%;
    margin-left: 50px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgb(149, 149, 192);
    text-align: center;
    padding: 7px 25px;
}

.special-item h4{
    font-size: 18px;
}
.special-item p{
    color: #6C757D;
    line-height: 20px;
}
.special-pic img{
    width: 25%;
    margin-left: 50px;
    transition: all 0.5s;
    position: relative;
}
.special-pic:hover img{
    top: 0;
    transform: scale(1.1);
}


/* order style start here */


.order-title{
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
}
.order-title .tag1{
    color: #DC3545;
}
.order-title .tag2{
    color: #7F757D;
}
.order-shasow{
    box-shadow: 0 0 10px rgb(218, 218, 232);
    display: flex;
    margin: 0 60px;
    margin-bottom: 100px;
    justify-content: center;
    gap: 20px;
}
.order-img img{
    width: 500px;
}
.order-item input{
    padding: 7px 80px;
    margin-top: 30px; 
}
.address{
     padding: 20px 10px;
}
.order-btn{
    font-size: 15px;
    border:solid red;
    padding: 5px 25px;
    background-color: #fff;
    transition: 0.1s linear;
    margin-top: 50px;
}
.order-btn:hover{
    background-color: #333333;
}

/* order style end here */

/* footer style start here */


.footer-container{
    width: 100%;
    background-color: #212529;
    height: 150px;
}
.footer-item{
    
    text-align: center;
    font-size: 15px;
}
.footer-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.footer-icon img{
    width: 10px;
    background-color: #fff;
}
.footer-h1{
    color: #fff;
    font-size: 10px;
}
.footer-2icon img{
    width: 10px;
    background-color: #fff;
}
.footer-h2{
    color: #fff;
    font-size: 10px;
}




/* footer style end here */
